:root {
  --blue: #273FAD;
  --blue2: #001470;
  --green: #3FAD27;
  --red: 	#ad273f;
  --background: #EBEBEB;
  --background2: #1B1E2E;
  --background3: #FFF;
  --shapes: #FFFFFF;
  --shapes2: #e2e2e2;
  --text-title: #3D3D4D;
  --text: #1C1C29;
  --text-light: #A09CB1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px "Poppins", Arial, sans-serif;
  color: #121214;

  main.main{
    height: 100vh;
    background-color: var(--background)
  }
  main.main.dark{
    height: 100vh;
    background-color: var(--background2)
  }
}

input, textarea {
  font-family: "Poppins";
}

.container {
  max-width: 1115px;
  margin: 0 auto;
  padding: 2.5rem 1rem;
}

button, .checkmark {
  cursor: pointer;
}