:root {
  --purple: #8257E5;
  --purpleDark: #362853;
  --green: #3FAD27;
  --red: 	#ad273f;
  --background: #f3f3f3;
  --backgroundDark: #1F1F23;
  --shapes: #FFFFFF;
  --text-title: #3D3D4D;
  --text: #1C1C29;
  --text-light: #A09CB1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px "Poppins", Arial, sans-serif;
  color: #121214;

  main.main{
    padding-bottom: 5rem;
    min-height: 100vh;
    background-color: var(--background)
  }
  main.main.dark{    
    background-color: var(--backgroundDark)
  }
}

input, textarea {
  font-family: "Poppins";
}

.container {
  max-width: 1115px;
  margin: 0 auto;
}

button, .checkmark {
  cursor: pointer;
}

@media (max-width: 1130px) {
  .container {
    max-width: 90%;
  }
}